/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";

$font-main: Helvetica, sans-serif;

/*-- big left img item --*/
$blii-main-border-radius: 10px;
$blii-main-background: #eee;
$price-background: #99d;
$price-background-hover: #aaf;
$pinkcolor: #ff5063;
$skycolor: rgb(30, 200, 252);
$white: #fff;
$blii-title-font: kelly slab,fantasy;
$blii-description-font: futura-lt-w01-light, sans-serif;

html {
    font-size: 10px;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

$small: 375px;
$large: 1024px;

@mixin respond-to($media) {
    @if $media == handhelds{
        @media only screen and (max-width: $small) { @content; }
    }
    @else if $media == medium-screens {
        @media only screen and (min-width: $small + 1) and (max-width: $large - 1) { @content; }
    }
    @else if $media == wide-screens {
        @media only screen and (min-width: $large) { @content; }
    }
}



@font-face { 
    font-family: "Open-Sans-Regular"; 
    src: url("/assets/fonts/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}