@import "./../../../../styles.scss";

#basket-lable {
    display: flex;
    align-items: center;
    height: 68px;
    font-size: 10pt;

    .product-count-lable {
        margin: 0 10px 0 10px;
    }

    .delivery-label {
        margin: 0 10px 0 10px;
    }
}