/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px;
    background-color: #ffffff;
    text-align: center;
    font-family: Courier New, Courier, monospace;
}

#content {
    background-color: #555555;
}

/*
#content div {
    background: #3bbced;
}
*/

/*
#content div:nth-child(even) {
    background: #777;
}
*/