@import "./../../styles.scss";

#basket {
    display: flex;
    align-items: center;
    height: 68px;
    font-size: 10pt;

    .basket-label {
        margin: 0 10px 0 10px;
    }

    .delivery-label {
        margin: 0 10px 0 10px;
    }
}