<div class="big-left-img-item">
  <div class="image-details-container">
    <div class="image">
      <img src="http://via.placeholder.com/400x560" />
    </div>
    <div class="title">
      {{product.title}}
    </div>
    <div class="description">
      {{product.description}}
      <div class="links-to-works">
        <div class="links-to-works-title">
          Этими материалами были реализованы следующие работы
        </div>
        <div class="links-to-works-list">

        </div>
      </div>
      <div *ngIf="isCombinedProduct()" class="set">
        <div class="set-title">В набор входит</div>
        <ul>
          <li *ngFor="let description of getCombinedProductDescription()">{{description}}</li>
        </ul>
      </div>
    </div>
    <div class="price-container">
      <div *ngIf="!isInBasket()" class="price-box" (click)="onBasketClick()">
        <div class="value">
          {{product.price}} руб.
        </div>
        <div class="in-basket">
          В корзину
        </div>
      </div>
      <div *ngIf="isInBasket()">
        <div class="toBascketLink">
          <a routerLink="/basket">К покупкам</a>
        </div>
      </div>
    </div>
  </div>
</div>