@import "./../../../styles.scss";

$image-min-width: 400px;
$details-min-width: 300px;

.big-left-img-item {
    padding: 10px 10px 10px 10px;
    background: $blii-main-background;
    @include border-radius($blii-main-border-radius);
    
    .image-details-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        @include respond-to(handhelds) { flex-direction: column; }

        .image {
            display: flex;
            align-items: flex-start;
            width: 50%;
            img {
                width: 100%;
                height: auto;
                justify-content: stretch;
            }
        }

        .details {
            padding: 20px;
            box-sizing: border-box;

            display: flex;
            flex-direction: column;
            width: 50%;

            .title {
                font-family: $blii-title-font;
                font-size: 3rem;
                width: 100%;
            }

            .description {
                margin-top: 1.4rem;
                font-family: $blii-description-font;
                font-size: 2rem;
                width: 100%;
            }

            .set {
                margin-top: 1.4rem;
                font-size: 1rem;
                font-family: $blii-description-font;
                width: 100%;

                ul {
                    font-style: italic;
                    list-style-type: circle;
                }
            }
        }
    }
    .price-container {
        font-weight: bold;
        color: white;
        display: flex;
        justify-content: flex-end;
        font-size: 2rem;
        height: 3rem; 
        
        .price-box{
            display: flex;
            flex-direction: row;
            background: $price-background;
            border-radius: 10px;
            padding: 0.5rem 1rem 0.5rem 1rem;
            .value {
            }
            .in-basket {
                margin-left: 0.5rem;
            }
        }
    }
}