<div class="big-left-img-item">
  <div class="image-details-container">
    <div class="image">
      <img src="http://via.placeholder.com/400x560" />
    </div>
    <div class="details">
      <div class="title">
        Акварельный художественный набор
      </div>
      <div class="description">
        <h1>
          Набор включает всё самое необходимое для занятия акварелью. Всего то надо набрать водички в стаканчик и начать рисовать,
          ни чего сложного нет!!! 
        </h1>
        <br/>
        <div class="links-to-works">
          <h3>Этими материалами были реализованы следующие работы</h3>
        </div>
      </div>
      <div class="set">
        <h3>В набор входит</h3>
        <ul>
          <li>Бумага акварельная озозо</li>
          <li>Кисть супер пупер азаза</li>
          <li>Акварель тро-ло-ло</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="price-container">
    <div class="price-box">
      <div class="value">
        1200р
      </div>
      <div class="in-basket">
        В корзину
      </div>
    </div>
  </div>
</div>