<div class="big-left-img-item">
  <div class="image-details-container">
    <div class="image">
      <img src="http://via.placeholder.com/400x560" />
    </div>
    <div class="title">
      Акварельный художественный набор
    </div>
    <div class="description">
      Набор включает всё самое необходимое для занятия акварелью. Всего то надо набрать водички в стаканчик и начать рисовать,
      ни чего сложного нет!!!
      <div class="links-to-works">
        <div class="links-to-works-title">
          Этими материалами были реализованы следующие работы
        </div>
        <div class="links-to-works-list">

        </div>
      </div>
      <div class="set">
        <div class="set-title">В набор входит</div>
        <ul>
          <li>Бумага акварельная озозо</li>
          <li>Кисть супер пупер азаза</li>
          <li>Акварель тро-ло-ло</li>
        </ul>
      </div>
    </div>
    <div class="price-container">
      <div class="price-box">
        <div class="value">
          1200р
        </div>
        <div class="in-basket">
          В корзину
        </div>
      </div>
    </div>

  </div>

</div>