@import "./../../../styles.scss";

$image-min-width: 400px;
$details-min-width: 300px;

.big-left-img-item {
    padding: 10px 10px 10px 10px;
    background: $blii-main-background;
    @include border-radius($blii-main-border-radius);
    @include respond-to(handhelds) { 
        min-width: calc(200px + 200px); 
    }
    @include respond-to(medium-screens) { min-width: calc(200px + 220px);  }
    @include respond-to(medium-plus-screens) { min-width: calc(200px + 220px);  }
    @include respond-to(wide-screens) { min-width: calc(200px + 400px);  }

    .image-details-container {
        display: flex;
        flex-direction: row;
        @include respond-to(handhelds) { flex-direction: column; }
        @include respond-to(medium-screens) { flex-direction: column; }

        .image {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            img {
                display: block;
                @include respond-to(handhelds) { width: 100%; }
                @include respond-to(medium-screens) { width: 200px; }
                @include respond-to(medium-plus-screens) { width: 220px; }
                @include respond-to(wide-screens) { width: 400px; }
            }
        }

        .details {
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-content: space-around;

            @include respond-to(handhelds) { min-width: 200px; }
            @include respond-to(medium-screens) { min-width: 220px; }
            @include respond-to(medium-plus-screens) { min-width: 220px; }
            @include respond-to(wide-screens) { min-width: 400px; }

            .title {
                font-family: $blii-title-font;
                width: 100%;
                @include respond-to(handhelds) { 
                    font-size: 15pt;
                }
                @include respond-to(medium-screens) { 
                    font-size: 15pt;
                }
                @include respond-to(medium-plus-screens) {
                    font-size: 18pt;
                }
                @include respond-to(wide-screens) { 
                    font-size: 20pt;
                }
            }

            .description {
                margin-top: 20px;
                font-family: $blii-description-font;
                width: 100%;
                @include respond-to(handhelds) { 
                    font-size: 12pt;
                }
                @include respond-to(medium-screens) { 
                    font-size: 12pt;
                }
                @include respond-to(medium-plus-screens) {
                    font-size: 13pt;
                }
                @include respond-to(wide-screens) { 
                    font-size: 15pt;
                }
            }

            .set {
                margin-top: 20px;
                font-size: 10pt;
                font-style: italic;
                font-family: $blii-description-font;

                ul {
                    list-style-type: circle;
                }
            }
        }
    }
    .price-container {
        font-weight: bold;
        color: white;
        display: flex;
        justify-content: flex-end;
        @include respond-to(handhelds) { 
            font-size: 10pt;
            height: 20px; 
        }
        @include respond-to(medium-screens) { 
            font-size: 15pt;
            height: 40px; 
        }
        @include respond-to(medium-plus-screens) { 
            font-size: 15pt;
            height: 40px; 
        }
        @include respond-to(wide-screens) {
            font-size: 25pt;
             height: 50px; 
        }
        .price-box{
            display: flex;
            flex-direction: row;
            background: $price-background;
            border-radius: 10px;
            padding: 2px 10px 2px 10px;
            .value {
            
            }
            .in-basket {
                margin-left: 5px;
            }
        }
    }
}