<div class="">
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12">
        Filters
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div *ngFor="let artwork of artworks">
          <div class="col-md-4 text-center img-block">
            <a [routerLink]="['/artworks', artwork.id]">
              <img class="img-preview img-thumbnail"/>
              <br/>
              {{artwork.title}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
