.artworks-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
}

.filters {
    grid-column: 1 / 4;
    background-color: #BBD8DC;
}

.artworks-list {
    grid-column: 4 / 13;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #BBDDCC;
    color: white;
}

.artworks-list a {
    color: white;
    text-decoration: none;
}

.artwork-item {
    width: 230px;
    min-width: 230px;
    height: 230px;
    min-height: 230px;
    background-color: #CCDDCC;
}

.artwork-item:nth-child(even) {
    background-color: rgb(106, 128, 106);
}

.img-preview {
    min-width: 100px;
    min-height: 100px;
    background: white;
}
