<div class="grid">
    <div *ngIf="isPortfolioPage() == true">
        
        <app-top-line></app-top-line>
        <app-main-navigation></app-main-navigation>
    </div>
    <div *ngIf="isPortfolioPage() == false">
        <app-port-header></app-port-header>
    </div>
    <router-outlet></router-outlet>
    <div *ngIf="isPortfolioPage() == true">
        <app-footer></app-footer>
    </div>
    <div *ngIf="isPortfolioPage() == false">
        <app-port-footer></app-port-footer>
    </div>
</div>