<div id="top-line">
  <div *ngIf="componentDisplayService.TopLineVisible" class="row">
    <div class="left-side-container col-sm-6 col-md-6 col-lg-6">
      <div class="logo">
        Творить может <br/>КАЖДЫЙ!
      </div>
      <div class="logo-utp">
        <!--Магазин уникальных дизайнерских вещей.-->
        Магазин проверенных материалов для творчества.
      </div>
    </div>
    <div class="right-side-container col-sm-6 col-md-6 col-lg-6">
      <app-basket-lable></app-basket-lable>
    </div>
  </div>
</div>