<div class="carousel-component">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let item of items">
      <div class="carousel-component-item">
        <a routerLink={{item.route}}>
          <app-carousel-item></app-carousel-item>
        </a>
        <div class="carousel-component-text-container">
          <div class="carousel-component-title">
            {{item.title}}
          </div>
          <div class="carousel-component-description">
            {{item.description}}
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>