<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col col-lg-10">
      <ngb-tabset #ordertabset activeIds="ngb-panel-0">
        <ngb-tab id="order-id" title="Заказ" >
          <ng-template ngbTabContent>
            <app-basket-product-list></app-basket-product-list>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="deliveryid" title="Доставка"  [disabled]="deliveryDisabled">
          <ng-template ngbTabContent>
            Delivery
          </ng-template>
        </ngb-tab>
        <ngb-tab id="paymentsid" title="Оплата"  [disabled]="paymentDisabled">
          <ng-template ngbTabContent>
            Payments
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
      <div class="next-stage">
        <button (click)="nextStage()" >Далее</button>
      </div>
    </div>
  </div>
</div>