.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #050505;
}

.artworks {
    grid-row: 1;
    min-width: 640px;
}

.layouts {
    grid-row: 1;
    min-width: 320px;
}

.dark-template {
    background-color: #050505;
}

.light-template {
    background-color: #9a9a9a;
}

.header {
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 55px;
    text-align: left;
    font-size: 30px;
    font-family: "Courier New";
    line-height: 1.6;
    color: #fff;
    display: flex;
}

.dark-header {
    height: 50px;
    background-color: #333333;
}

.light-header {
    height: 50px;
    background-color: #00a49d;
}

.first {
    padding-left: 55px;
}

.not-first {
    margin-left: 15px;
}

.line {
    height: 100%;
    width: 10px;
    margin: 0 15px 0 0;
    background-color: #00a49d;
}

.payload {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-right: 55px;
    margin-bottom: 10px;
    height: 100%;
}

.payload.not-first {
    height: calc(100% - 95px);
}

.aspect-ratio-wrapper {
    position: relative;
}
.aspect-ratio-wrapper > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
    .aspect-ratio-wrapper.four {
        width: calc(100% / 4 - 1px);
        padding-bottom: calc(100% / 4 - 1px);
    }
    .aspect-ratio-wrapper.three {
        width: calc(100% / 3 - 1px);
        padding-bottom: calc(100% / 3 - 1px);
    }
    .aspect-ratio-wrapper.two {
        width: calc(100% / 2 - 1px);
        padding-bottom: calc(100% / 2 - 1px);
    }

.full-height {
    position: relative;
    height: 100%;
}
.three-width {
    width: calc(100% / 3 - 2px);
}

@-moz-document url-prefix() {
    /* TODO: resolve problems with firefox */
    div.aspect-ratio-wrapper {
        height: 25vh;
    }
}

.artwork-item {
    background-color: #777777;
    border: 1px solid black;
}

.artwork-item img {
    width: 100%;
    height: 100%;
}

.artwork-item:nth-child(even){
    background-color: #aaaaaa;
}

.layout-item {
    background-color: #777777;
    border: 1px solid black;
}