.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.main {
    color: white;
    font-family: Courier New, Courier, monospace;
}

.loading {
    position: absolute;
    left: 45%;
    top: 50%;
}