
.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start;
    flex-direction: column;
    height: 500px;
    width: auto;
}

.vertical {
    border: black solid 1px;
    width: 150px;
    height: 240px;
    background-color: #aaa;
    margin: 20px;
}

.horizontal {
    border: black solid 1px;
    width: 350px;
    height: 150px;
    background-color: #bbbbbb;
    margin: 20px;
}