.nav {
    margin: 0 0 0 50px;
    padding: 0;
    list-style-type: none;
    color: rgb(0, 0, 0);
}

.nav li {
    float: left;
    display: flex;
    padding: 5px 0 5px 32px;
}

.nav li:first-child{
    padding: 5px 0 5px 0;
}

.nav li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding-left: 3px;
}

.vertical-line {
    margin: 3px 0 3px 0;
    height: 12px;
    width: 1px;
}

.vertical-line.active {
    background-color: #000000;
}