@import "./../../../styles.scss";

 $image-min-width: 17rem;
 $image-height: 17rem;

.medium-item {
    max-width: 24.7rem;
    //max-height: 17rem;
    margin: 1rem auto 2rem;

    display: grid;
    grid-template:
        "img"
        "container";

    .medium-item-img {
        grid-area: img;
        display: flex;
        position: relative;
        align-content: center;
        justify-content: center;

        .medium-item-lable {
            position: absolute;
            top: 1rem;
            left: 1rem;
            font-size: 1.2rem;
    
            margin: 1rem;
            padding: 0.2rem 0.4rem;
            background: lightseagreen;
        }

        img {
            width: $image-min-width;
            height: $image-height;
            @include respond-to(handhelds) { 
                width: calc(#{$image-min-width} / 3 * 2);
                height: calc(#{$image-height} / 3 * 2);
            }
            @include respond-to(medium-screens) { 
                width: calc(#{$image-min-width}); 
                height: calc(#{$image-height});
            }
            //@include respond-to(wide-screens) { }
            justify-content: stretch;
        }
    }

    .medium-item-container {
        grid-area: container;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: stretch;
        padding: 1rem 1.5rem 1rem 1.5rem;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-decoration: none;

        @include respond-to(handhelds) { 
            width: calc(#{$image-min-width} / 3 * 2);
        }
        @include respond-to(medium-screens) { 
            width: calc(#{$image-min-width});
        }

        .medium-item-title {
            word-wrap: break-word;
            word-break: break-word;
            margin-top: 0.5rem;
            font-size: 1.7rem;
            text-overflow: ellipsis;
            @include respond-to(medium-screens) { 
                font-size: 1.7rem;
            }
            @include respond-to(handhelds) { 
                font-size: 1.5rem;
            }
            text-align: center;
            font-weight: bold;
        }
        .medium-item-description {
        }
        .medium-item-price {
    
        }
        .medium-item-in-basket {
            font-size: 1.4rem;
            text-align: center;
            text-decoration: none;
            padding: 0.5rem 1.5rem;
            border: 1px solid #c1c1c1;
            border-radius: 5px;
            outline: none;

            -webkit-transition: background-color 0.5s ease-out;
            -moz-transition: background-color 0.5s ease-out;
            -o-transition: background-color 0.5s ease-out;
            transition: background-color 0.5s ease-out;

            &:hover {
                background-color: $pinkcolor;
            }
        }

        .toBascketLink {
            font-size: 1.4rem;
            text-align: center;
            padding: 0.5rem 1.5rem;
            //border: 1px solid #c1c1c1;
            //border-radius: 5px;
            outline: none;
            &:hover {
                a{
                    text-decoration: none;
                }
            }
        }
    }    
}
