<div class="medium-item">
  <div class="medium-item-img">
    <div class="medium-item-lable">
      Новинка
    </div>
    <img src="http://via.placeholder.com/250x250" />
  </div>
  <div class="medium-item-container">
    <div class="medium-item-title">
      {{item.title}}
    </div>
    <div class="medium-item-description">
      {{item.description}}
    </div>
    <div class="medium-item-price">
      {{getProductPriceStr()}}
    </div>
    <div class="medium-item-in-basket"
      *ngIf="!isInBasket()" 
      (click)="onBasketClick()">
      В корзину
    </div>
    <div *ngIf="isInBasket()">
      <div class="toBascketLink">
        <a routerLink="/basket">К покупкам</a>
      </div>
    </div>
  </div>
</div>